 <!-- <div *ngIf="adminPanle"> -->
        <app-header-nav></app-header-nav>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" >
           
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
           <app-aside-nav>      
            </app-aside-nav>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="m-content">
                        <div class="row  font-family">
                            <div class="col-xl-12">
                                <!--begin::Portlet-->
                                <div class="m-portlet" id="m_portlet">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                            
                                                <h4 style="color: darkcyan  !important; font-weight: bold  !important; font-size: 20px  !important; " class="m-portlet__head-text font-family modal-header-text" >
                                                       
                                                   Team setting
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="m-portlet__head-tools">
                                            <!-- <ul class="m-portlet__nav">
                                                <li class="m-portlet__nav-item">
                                                    <a (click)="open(content)" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="color: white">
                                                        <span>
                                                            <i class="la la-plus"></i>
                                                            <span>
                                                                Add Company 
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                </div>
        
        
</div>  
</div>
<router-outlet>
       </router-outlet>
       
       