
        <app-header-nav></app-header-nav>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" >
           
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
           <app-aside-nav>      
            </app-aside-nav>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
           <!--End::Section-->     <!--Begin::Section-->
           <div class="m-content">
	<div class="row  font-family">
        <div class="col-xl-9">
			<!--Begin::Main Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__body m-portlet__body--no-padding">
					<div class="m-pricing-table-2">
						<div class="m-pricing-table-2__head">
							<div class="m-pricing-table-2__title m--font-light">
								<h1>
									Transparent & Simple Pricing
								</h1>
							</div>
							<div class="btn-group nav m-btn-group m-btn-group--pill m-btn-group--air" role="group">
								<button  type="button" class="btn m-btn--pill  active m-btn--wide m-btn--uppercase m-btn--bolder" data-toggle="tab" href="#m-pricing-table_content1" role="tab" aria-expanded="true">
									Annual Plans
								</button>
								<button type="button" class="btn m-btn--pill  m-btn--wide m-btn--uppercase m-btn--bolder" data-toggle="tab" href="#m-pricing-table_content2" role="tab" aria-expanded="false">
									Monthly Plans
								</button>
							</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane active" id="m-pricing-table_content1" aria-expanded="true">
								<div class="m-pricing-table-2__content">
									<div class="m-pricing-table-2__container">
										<div class="m-pricing-table-2__items row">
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa flaticon-confetti"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													Basic Plan
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														1 Domain
													</span>
													<span>
														10 Users
													</span>
													<span>
														20 Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													69
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa  flaticon-rocket"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													For Business
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														10 Domains
													</span>
													<span>
														Unlimited Users
													</span>
													<span>
														Unlimited Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													169
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa flaticon-gift"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													Enterprice
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														Unlimited Domain
													</span>
													<span>
														Unlimited Users
													</span>
													<span>
														Unlimited Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													669
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="m-pricing-table_content2" aria-expanded="false">
								<div class="m-pricing-table-2__content">
									<div class="m-pricing-table-2__container">
										<div class="m-pricing-table-2__items row">
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa flaticon-confetti"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													Basic Plan
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														1 Domain
													</span>
													<span>
														10 Users
													</span>
													<span>
														20 Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													19
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa  flaticon-rocket"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													For Business
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														10 Domains
													</span>
													<span>
														Unlimited Users
													</span>
													<span>
														Unlimited Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													49
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
											<div class="m-pricing-table-2__item col-lg-4">
												<div class="m-pricing-table-2__visual">
													<div class="m-pricing-table-2__hexagon"></div>
													<span class="m-pricing-table-2__icon m--font-info">
														<i class="fa flaticon-gift"></i>
													</span>
												</div>
												<h2 class="m-pricing-table-2__subtitle">
													Enterprice
												</h2>
												<div class="m-pricing-table-2__features">
													<span>
														Unlimited Domain
													</span>
													<span>
														Unlimited Users
													</span>
													<span>
														Unlimited Copies
													</span>
													<span>
														Free Assets
													</span>
												</div>
												<span class="m-pricing-table-2__price">
													29
												</span>
												<span class="m-pricing-table-2__label">
													$
												</span>
												<div class="m-pricing-table-2__btn">
													<button type="button" class="btn m-btn--pill  btn-info m-btn--wide m-btn--uppercase m-btn--bolder m-btn--lg">
														Purchase
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!--End::Main Portlet-->
		</div>
		<div class="col-xl-3">
			<div class="m-portlet">
				<div class="m-portlet__body">
					<div class="m-section">
						<h2 class="m-section__heading">
							Benifits Of Joining
						</h2>
						<div class="m-section__content">
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry.  						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
							</p>
							<p>
								when an unknown printer took a galley of type and scrambled it to make a type specimen book.  						It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							</p>
						</div>
					</div>
					<div class="m-separator m-separator--fit"></div>
					<div class="m-widget1 m-widget1--paddingless">
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Member Profit
									</h3>
									<span class="m-widget1__desc">
										Awerage Weekly Profit
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-brand">
										+$17,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Orders
									</h3>
									<span class="m-widget1__desc">
										Weekly Customer Orders
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-danger">
										+1,800
									</span>
								</div>
							</div>
						</div>
						<div class="m-widget1__item">
							<div class="row m-row--no-padding align-items-center">
								<div class="col">
									<h3 class="m-widget1__title">
										Issue Reports
									</h3>
									<span class="m-widget1__desc">
										System bugs and issues
									</span>
								</div>
								<div class="col m--align-right">
									<span class="m-widget1__number m--font-success">
										-27,49%
									</span>
								</div>
							</div>
						</div>
						<!--end: Form Wizard Step 4-->
					</div>
					<!--end: Form Body -->
				</div>
			</div>
		</div>

        
    </div>