<!-- BEGIN: Header -->
<header class="m-grid__item font-family   m-header"  data-minimize-offset="200" data-minimize-mobile-offset="200" appunwraptag="" >
	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand  m-brand--skin-dark">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
						<a routerLink="/index" class="m-brand__logo-wrapper">
							<img alt="" src="./assets/asset/demo/demo3/media/img/logo/logo-white-small.png"/>
						</a>
					</div>
					<div class="m-stack__item m-stack__item--middle m-brand__tools">
						<!-- BEGIN: Responsive Aside Left Menu Toggler -->
						<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END --> 			 							<!-- BEGIN: Responsive Header Menu Toggler -->
						<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
							<span></span>
						</a>
						<!-- END --> 						  			<!-- BEGIN: Topbar Toggler -->
						<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
							<i class="flaticon-more"></i>
						</a>
						<!-- BEGIN: Topbar Toggler -->
					</div>
				</div>
			</div>
			<!-- END: Brand -->
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
				<!-- BEGIN: Horizontal Menu -->
				<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn">
					<i class="la la-close"></i>
				</button>
				<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark"  >
					<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
						<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   data-menu-submenu-toggle="click" aria-haspopup="true">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<span class="m-menu__link-text">
										<i class="fa fa-home" aria-hidden="true"></i>
									DASHBOARD
								</span>
								
							</a>
							
						</li>
						<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<span class="m-menu__link-text">
										<i class="fa fa-bar-chart" aria-hidden="true"></i>
								ANALYTICS
								</span>
								
							</a>
							
						</li>
						
					</ul>
				</div>
				<!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
				<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-topbar__nav-wrapper">
						<ul class="m-topbar__nav m-nav m-nav--inline">
								<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
										<a  class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">				
											<span class="m-nav__link-icon">
													<i class="fa fa-user-circle-o" aria-hidden="true"></i>									
											</span>
											<span class="m-nav__link-icon">{{username}}</span>
									
										</a>
									</li>
							<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
								<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">				
									<span class="m-nav__link-icon">
										<i class="fa fa-power-off" aria-hidden="true"></i>
									</span>
								<span class="m-nav__link-icon" (clik)="Logout()">Logout</span>
								</a>
							</li>	
													
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
