
        <app-header-nav></app-header-nav>
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" >
           
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
           <app-aside-nav>      
            </app-aside-nav>
        </div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
           <!--End::Section-->     <!--Begin::Section-->
           <div class="m-content">
	<div class="row">
        <div class="col-md-12">
			<!--Begin::Main Portlet-->
			<div class="m-portlet">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">
									Billing
								</h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body">
						<!--begin::Section-->
						<div class="m-section">
							<h3 class="m-section__heading">
								Credit Cards
							</h3>
							<span class="m-section__sub">
								Click below button to add a payment method:
							</span>
							<div class="m-section__content">
								<button type="button" class="btn btn-danger" data-toggle="m-tooltip" title="" data-original-title="Tooltip title">ADD CREDIT CARD</button>
							</div>                    
						</div>
						<!--end::Section-->
		
						<div class="m-separator m-separator--dashed"></div>
		
						<!--begin::Section-->
						<div class="m-section">
							<h3 class="m-section__heading">
								API Plan
							</h3>
							<span class="m-section__sub">
									You are currently on the Unverified Email Plan. <a>Learn More.</a>
							</span>
							<div class="m-section__content">
							   <button type="button" class="btn btn-brand" data-container="body" data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Tooltip title">
								  CHANGE PLAN
								</button>
							</div>
						</div>
						<!--end::Section-->
		
						<!--<div class="m-separator m-separator--dashed"></div>-->
		
						<!--begin::Section-->
						<!--<div class="m-section">
							<h3 class="m-section__heading">
								Dismiss on next click
							</h3>
							<span class="m-section__sub">
								Use the focus trigger to dismiss tooltips on the next click that the user makes.
							</span>
							<div class="m-section__content">
							   <a tabindex="0" class="btn btn-success" role="button" data-toggle="m-tooltip" data-trigger="focus" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="Dismissible tooltip">Dismissible tooltip</a>
							</div>
						</div>-->
						<!--end::Section-->
					</div>
				</div>
			<!--End::Main Portlet-->
		</div>


        
    </div>